# Питоновские байт-коды
__pycache__/
*.py[cod]

# Директории виртуальных окружений
venv/
env/
ENV/
.venv/
.env/

# Файлы конфигурации среды
*.env


# Директории с зависимостями
*.egg-info/
dist/
build/

# Кеши
*.pyc
*.pyo
*.pyd

# Логи
*.log

# Системные файлы
.DS_Store
Thumbs.db

# IDE и редакторы
.vscode/
.idea/
*.swp
*.swo



